{% load static %}
<link rel="stylesheet" href="{% static 'bookings/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Adrian's Kitchen{% endblock %}</title>
    
</head>
<body>
    <nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'home' %}" class="nav-logo">Adrian's Kitchen</a>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'add_booking' %}">Book a Table</a></li>
            <li><a href="{% url 'view_bookings' %}">My Bookings</a></li>
            <li><a href="{% url 'register' %}"></a>Register</li>
        </ul>
    </div>
</nav>
    <div class="container">
        <h1><a href="{% url 'home' %}" style="text-decoration: none; color: #c0392b;">Adrian's Kitchen 🍽️</a></h1>

        {% block content %}
        <!-- Each page will put its unique content here -->
        {% endblock %}
    </div>
</body>
</html>