body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff8f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navbar styling */
.navbar {
    background-color: #e67e22;
    padding: 15px 0;
}


.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: red;
}

/* Page content container */
.container {
    margin: 50px auto;
    max-width: 800px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    color:#c0392b;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    display: inline-block;
    background-color: #c0392b;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.button:hover {
    background-color: #a93226;
}

form {
    margin: 30px auto;
    width: 100%;
    max-width: 350px;
    text-align: left;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form button {
    width: 100%;
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #a93226;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background: #f9f9f9;
    padding: 12px;
    border-radius: 6px;
}

li a {
    color: #c0392b;
    margin: 0 5px;
}

li a:hover {
    text-decoration: underline;
}

.success {
    color: green;
    font-weight: bold;
    font-size: larger;
}
